.hero-img-box {
  // height: 40rem;
  // overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .hero-img {
    width: 80%;
    border-radius: 9px;
    box-shadow: -1rem 1rem #d4e8f6;
  }
}
.heading-primary {
  // font-size: 6rem;
  margin: 0 !important;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Aeonik Medium";
  text-shadow: -0.3rem 0.2rem #dfd7b3;
  margin-bottom: 6.4rem;
  line-height: 0.85;

  text-align: center;
  line-height: 1.2;

  span {
    font-family: "Pacifico";
    font-weight: 500;
    color: #b99332;
  }
}

@media (max-width: 768px) {
  .heading-primary {
    font-size: 2.6rem;
  }
} ;
