@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.logo {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 3rem;
}

.logo-img {
  position: relative;
  height: 2.8rem;
  width: 3rem;
}

.logo-in {
  height: 1.6rem;
  position: absolute;
  top: 27px;
  left: 26px;
  transform: translate(-50%, -50%);
}

.logo-out {
  height: 2.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-text {
  font-family: "Pacifico";
  padding-top: 5px;
  margin: 0;
  font-size: 1.6rem;
  color: #b99332;
}

@media (max-width: 768px) {
  .logo-text {
    display: none;
  }
} ;
