.gallery {
  img {
    width: 100%;
  }

  img:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
  }

  .row {
    overflow: hidden;

    padding: 0 20px;

    .row {
      padding: 0;
    }

    .gallery-img {
      padding: 0;
      border-radius: 9px;
      overflow: hidden;
    }
  }

  .gallery-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .gallery-text {
    font-size: 1rem !important;
  }
} ;
