@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";

.desc-img {
  padding: 0;

  img {
    width: 100%;
    border-radius: 9px;
  }
}

@media (max-width: 768px) {
  .about-us {
    border-radius: 9px;
    overflow: hidden;
    margin: 12px;

    img {
      width: 100%;
      border-radius: 0 !important;
    }
  }

  .about-us-text {
    margin-left: 0 !important;
    border-radius: 0 !important;
  }
}

.about-us-text {
  background-color: #e7f5ff;
  margin-left: -10px;
  border-radius: 9px;
  padding: 30px;
  p {
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  .about-us-text {
    p {
      font-size: 1rem !important;
    }
  }
} ;
